<app-navbar noReturn="true"></app-navbar>
<div class="full-height" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image browser"></div>
      <mat-card-title>Error</mat-card-title>
      <mat-card-subtitle>Something has gone wrong</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="assets/upgrade.png" alt="fancy subscription image"> -->
    <mat-card-content>
        <p>For some reason we can't verify your account.</p>
        <p>This is most likely due to inactivity on this page. For your security we require you to link to this page through your portal.</p>
        <p>If after closing the page and navigating here again through your portal you are still seeing this page, please contact support to make any changes and to resolve this issue.</p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button color="primary" (click)="modifySubscriptionClicked();">MODIFY SUBSCRIPTION</button>
    </mat-card-actions> -->
  </mat-card>
</div>

