<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  <img width="200" alt="Your Logo" src="assets/logo.png">
</div>
<div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign.gt-xs="center center" fxLayoutAlign.xs="center space-between" fxLayoutGap.xs="20px" fxLayoutGap.gt-xs="8px">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image card"></div>
      <mat-card-title>Payment Methods</mat-card-title>
      <mat-card-subtitle>Update / Add Credit Card Information</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/credit-card-large.jpeg" alt="fancy payment information image">
    <mat-card-content>
      <p>
        Your current credit card ends in ****{{lastFour}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary">UPDATE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image browser"></div>
      <mat-card-title>Subscription</mat-card-title>
      <mat-card-subtitle>Change Your Subscription</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/subscription-large.jpeg" alt="fancy subscription image">
    <mat-card-content>
      <p>
        You are currently on the {{currentPlanString}} subscription.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary">UPGRADE TO {{plusString.toUpperCase()}}</button>
      <button mat-button color="warn">CANCEL</button>
    </mat-card-actions>
  </mat-card>
</div>

<router-outlet></router-outlet>
