<app-navbar noReturn="true"></app-navbar>
<div *ngIf="loaded" class="full-height top-buffer" fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign.gt-xs="center center" fxLayoutAlign.xs="center space-between" fxLayoutGap.xs="20px" fxLayoutGap.gt-xs="8px">
  <mat-card class="example-card" fxLayout="column" fxLayoutAlign="center start">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image card"></div>
      <mat-card-title>Payment Methods</mat-card-title>
      <mat-card-subtitle>Update / Add Credit Card</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/cards.png" alt="fancy payment information image">
    <mat-card-content>
      <p>
        {{defaultPaymentMethod? 'Your current credit card ends in ****'+defaultPaymentMethod.CardInfo.Last4:'No payment methods'}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="paymentMethodsClicked();">{{defaultPaymentMethod? 'UPDATE':'ADD'}}</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" fxLayout="column" fxLayoutAlign="center start">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image browser"></div>
      <mat-card-title>Subscription</mat-card-title>
      <mat-card-subtitle>Change Your Subscription</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/upgrade.png" alt="fancy subscription image">
    <mat-card-content>
      <p *ngIf="isAccountActive">
        {{currentPlanString === ' n/a '? 'Please select a plan':'You are on ' + currentPlanString}}
      </p>
      <p *ngIf="!isAccountActive">
          Activate your account to modify subscriptions.
        </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="modifySubscriptionClicked();" *ngIf="isAccountActive">MODIFY SUBSCRIPTION</button>
      <button mat-button color="error" (click)="reactivateAccount();" *ngIf="!isAccountActive">ACTIVATE ACCOUNT</button>
    </mat-card-actions>
  </mat-card>
</div>
<!-- <app-footer></app-footer> -->
