@import "~material-icons/iconfont/material-icons.css"

html,body
  height: 100vh
  min-height: 100vh
  margin:0
  padding:0

.full-width
  width: 100%
  min-width: 100%

.full-height
  height: 100%
  min-height: 100%

.activation
  height: 100vh
  min-height: 100vh
  width: 100%
  min-width: 100%

  mat-card, form
    padding: 8px
    background-color: whitesmoke

  .activation-subscriptions
    form
      background-color: transparent

.billing
  mat-card, form
    background-color: whitesmoke

.top-buffer
  margin-top: 20px

.mat-snack-bar-container
  &.error-snack-bar
    background-color: #a50000
    color: white

    .mat-simple-snackbar-action
      color: white
      background-color: #8a1616

  &.caution-snack-bar
    background-color: #e26600
    color: white

    .mat-simple-snackbar-action
      color: white
      background-color: #a54b11

  &.success-snack-bar
    background-color: #168600
    color: white

    .mat-simple-snackbar-action
      color: white
      background-color: #005500

  .mat-simple-snackbar-action
    border-radius: 3px

.background-red
  background-color: red
.background-green
  background-color: green
.white-text
  color: white
